<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ABOUT US</title>
    <link rel="stylesheet" href="/css/about.css">
</head>
<body>
    <header>
        <%- include('navbar') %>
    </header>
    <section class="about-class">
        <div class="about-img">
            <img src="/images/doctorconsu.jpg" alt="doctor">
            <img src="/images/consolelog.jpg" alt="doctor">
        </div>
        <div class="about-pass">
            <p>
                Welcome to Med-Care : Your Path to Holistic Healthcare
                At Med-Care, we believe in a world where accessing quality healthcare is seamless, empowering, and personalized. 
                With a passion for the well-being of every individual, we have redefined the way patients connect with medical professionals and secure appointments. 
                Our platform offers a revolutionary approach to healthcare management, ensuring that your journey towards wellness is both convenient and compassionate.
            </p>
            <br/>
            <p>
                Gone are the days of prolonged waiting and complex appointment scheduling. 
                With Med-Care, securing an appointment is as simple as a few clicks. 
                Our intuitive booking system lets you choose from the available slots of your preferred doctors, ensuring that your time is respected, and your journey to better health is streamlined.
            </p>
            <br/>
            <p>
                We understand that medical concerns can arise at any time. 
                That's why we offer a unique email consultation feature that lets you directly reach out to our esteemed doctors for guidance and advice. 
                Our platform ensures your inquiries are confidential and your responses are prompt, giving you peace of mind as you make informed decisions about your health.
            </p>
        </div>
    </section>
</body>
</html>