<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/slotresponse.css">
    <title>CONFIRMATION</title>
</head>
<body>
    <header>
        <%- include('navbar') %>
    </header>
    <div class="response">
        <h4>Your slots has been booked Successfully.</h4>
        <br>
        <h4>Please check Your mail for Confirmation.</h4>
        <br>
        <h4>Team MED-CARE</h4>
    </div>
</body>
</html>